footer {
    /*background-color: #56ab2f;*/
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

footer .bg-circle {
    z-index: -1;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #56ab2f 0%, #a8e063 100%);
}

footer .bg-circle-1 {
    height: 90rem;
    width: 75rem;
    bottom: 0rem;
    left: -35rem;
}

footer .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: 1rem;
    right: -25rem;
}
