/**
Game Detail page styling
 */
.box {
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
    min-height: 100%;
}

#gamedetail-desc {
    color: black;
}

.btn-pdf {
    background-color: #6C757D;
    border: none;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
}

.breadcrumb {
    background-color: #2e573d00;
}

.breadcrumb li:hover {
    cursor: pointer;
}


.breadcrumb li a {
    color: #52565a;
}


.list-group-item {
    border-radius: 25px;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 25px;
}


.floorplan img {
    border-radius: 25px;
}

.nav-pills .nav-link {
    border-radius: 25px;
    color: #05a54f;
}

.nav-pills .nav-link.active {
    background-color: #05a54f;
}


/**
Reviews
 */


.ratings {
    padding: 54px;
}

.product-rating {
    font-size: 50px
}

.stars i {
    font-size: 18px;
    color: #28a745;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.stars i:hover {
    transform: scale(1.10);
    cursor: pointer;
}

.rating-text {
    margin-top: 10px
}


#exportBtn {
    position: absolute;
    right: 15px;
    font-size: 25px;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    background-color: transparent;
    border: none;
    color: #20bf6b;
    padding: 5px 15px;
    font-size: 20px;
}

#exportBtn:hover {
    cursor: pointer;
    transform: scale(1.10);
}
