/**
Game Detail page styling
 */
.box {
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
    min-height: 100%;
}

.breadcrumb {
    background-color: #2e573d00;
}

.breadcrumb li a {
    color: #52565a;
}

.list-group-item {
    border-radius: 25px;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 25px;
}

.floorplan ul {
    list-style-type: none;
}

.floorplan .colorbox {
    width: 1rem;
    height: 1rem;
}

.floorplan img {
    border-radius: 25px;
}

.nav-pills .nav-link {
    border-radius: 25px;
    color: #57b846;
}

.nav-pills .nav-link.active {
    background-color: #57b846;
}


/**
Reviews
 */


.ratings {
    padding: 54px;
}

.product-rating {
    font-size: 50px
}

.stars i {
    font-size: 18px;
    color: #28a745
}

.rating-text {
    margin-top: 10px
}
