body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #efefef;
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a, a:hover {
    text-decoration: none !important;
}

h2 {
    font-size: 20px;
}

body {
    position: relative;
    top: 0 !important;
}

body:before {
    position: fixed;
    content: "";
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(255, 255, 255, .3);
}

body.show-sidebar {
    overflow: hidden;
}

body.show-sidebar:before {
    opacity: 1;
    visibility: visible;
}

main {
}

aside, main {
    height: 100vh;
    min-height: 580px;
}

::-webkit-scrollbar {
    display: none;
}

.notie-alert {
    z-index: 1000000000000;
}


/**
google translate
 */

.goog-te-banner-frame {
    display: none;
    margin: 0;
    padding: 0;
}

.goog-te-combo {
    position: absolute;
    bottom: 10px;
    font-family: arial;
    font-size: 10pt;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    border: none;
    background: transparent;
    width: 75%;
    height: 50px;
    border-radius: 25px;
    background: #05a54f;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    left: 50%;
    transform: translateX(-50%);
}

.goog-te-gadget {
    color: #fff0 !important;
}

.goog-te-gadget span {
    display: none;
}

