<div class="authentication">
    <div class="user-symbol ignore">
        <a data-target="#authenticationBox" data-toggle="modal"><i class="far fa-user"></i></a>
    </div>

    <div class="admin-symbol ignore">
        <a><i class="fas fa-cog"></i></a>
    </div>


    <div class="modal fade" id="authenticationBox" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a aria-controls="pills-login" aria-selected="true" class="nav-link active"
                               data-toggle="pill"
                               href="#pills-login" id="pills-login-tab" role="tab">Inloggen</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a aria-controls="pills-registration" aria-selected="false" class="nav-link"
                               data-toggle="pill"
                               href="#pills-registration" id="pills-registration-tab" role="tab">Registreren</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a aria-controls="pills-profile" aria-selected="false" class="nav-link"
                               data-toggle="pill"
                               href="#pills-profile" id="pills-profile-tab" role="tab">Profiel</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a aria-controls="pills-favorites" aria-selected="false" class="nav-link"
                               data-toggle="pill"
                               href="#pills-favorites" id="pills-favorites-tab" role="tab">Favorieten</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a aria-controls="pills-lessons" aria-selected="false" class="nav-link"
                               data-toggle="pill"
                               href="#pills-lessons" id="pills-lessons-tab" role="tab">Lessen</a>
                        </li>
                    </ul>
                </div>

                <div class="modal-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div aria-labelledby="pills-login-tab" class="tab-pane fade show active" id="pills-login"
                             role="tabpanel">
                            <form action="javascript:void(0);" class="auth-form-title login-form">
                                <span class="auth-form-title">
                                    Gebruikers Login
                                </span>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" name="login-username" placeholder="Gebruikersnaam"
                                           type="text">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i aria-hidden="true" class="fa fa-envelope"></i>
                                    </span>
                                </div>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" name="login-password" placeholder="Wachtwoord"
                                           type="password">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i aria-hidden="true" class="fa fa-lock"></i>
                                    </span>
                                </div>

                                <div class="auth-button-container">
                                    <button class="auth-button" type="submit">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>


                        <div aria-labelledby="pills-registration-tab" class="tab-pane fade" id="pills-registration"
                             role="tabpanel">
                            <form action="javascript:void(0);" class="auth-form-title register-form">
                                <span class="auth-form-title">
                                    Registratie
                                </span>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" id="registerFirstname" name="register-firstname" placeholder="Voornaam"
                                           type="text">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i class="fas fa-signature"></i>
                                    </span>
                                </div>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" id="registerLastname" name="register-lastname" placeholder="Achternaam"
                                           type="text">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i class="fas fa-signature"></i>
                                    </span>
                                </div>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" id="registerUsername" name="register-username" placeholder="Gebruikersnaam"
                                           type="text">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i aria-hidden="true" class="fa fa-envelope"></i>
                                    </span>
                                </div>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" id="registerPassword" name="register-password" placeholder="Wachtwoord"
                                           type="password">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i aria-hidden="true" class="fa fa-lock"></i>
                                    </span>
                                </div>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" id="registerPasswordRepeat" name="register-passwordrepeat"
                                           placeholder="Herhaal wachtwoord"
                                           type="password">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i class="fas fa-redo"></i>
                                    </span>
                                </div>

                                <div class="auth-button-container">
                                    <button class="auth-button" id="registerButton" type="submit">
                                        Registreren
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div aria-labelledby="pills-profile-tab" class="tab-pane fade" id="pills-profile"
                             role="tabpanel">
                            <div class="text-center card-box">
                                <div class="member-card pt-2 pb-2">
                                    <div>
                                        <h4 id="user-name"></h4>
                                        <span id="user-username"></span>
                                    </div>
                                </div>

                                <button class="btn btn-danger mt-3 btn-rounded waves-effect w-md waves-light"
                                        id="logout-btn"
                                        type="button">Uitloggen
                                </button>
                            </div>
                        </div>
                        <div aria-labelledby="pills-favorites-tab" class="tab-pane fade" id="pills-favorites"
                             role="tabpanel">
                              <span class="auth-form-title">
                                    Favorieten
                                </span>

                            <div class="row">
                                <div class="masonry p-3">
                                    <div style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                        U hebt nog geen favorieten
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div aria-labelledby="pills-lessons-tab" class="tab-pane fade show" id="pills-lessons"
                             role="tabpanel">
                            <span class="auth-form-title">
                                Lessen
                            </span>

                            <div class="mb-5 pl-3 pr-3 actions-lesson" style="font-size: 24px; text-align: center;">
                                <i class="fas fa-th-list return-lesson float-left"></i>

                                <h2 class="lesson-screen-title" style="display:inline-block">

                                </h2>

                                <i class="fas fa-plus add-lesson float-right"></i>
                            </div>

                            <div class="lessons p-3">
                                <div style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                    U hebt nog geen lessen
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button"><i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
