<!--<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">-->
<!--<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>-->
<!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
<!--<ul class="navbar-nav px-3">-->
<!--<li class="nav-item text-nowrap">-->
<!--<a class="nav-link" href="#">Sign out</a>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->

<div class="p-3">
    <header class="masthead text-center text-white">
        <video autoplay id="gamesVideo" loop muted>
            <source src="./assets/img/banners/home-jungle-video.mp4" type="video/mp4">
        </video>
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Dashboard</h1>
            </div>
        </div>
        <div class="bg-circle-5 bg-red-circle"></div>
        <div class="bg-circle-6 bg-red-circle"></div>

        <div class="bg-circle-1 bg-green-circle"></div>
        <div class="bg-circle-2 bg-green-circle"></div>

        <div class="bg-circle-3 bg-yellow-circle"></div>
        <div class="bg-circle-4 bg-yellow-circle"></div>
    </header>
</div>

<div class="container pt-3">
    <div class="row mb-5">
        <div class="col-12 mb-2">
            <div class="auth-input-wrap">
                <input class="auth-input search" placeholder="Zoek naar spellen..."/>
                <span class="auth-input-focus"></span>
                <span class="auth-input-symbol">
                    <i class="fas fa-search"></i>
                </span>

                <a class="filter-button" data-target="#filterBox" data-toggle="modal"><i class="fas fa-plus"></i></a>
            </div>
        </div>

    <div class="games">
        <div class="masonry p-3">

        </div>
    </div>
</div>
