<!-- Content box -->
<div class="container gameDetail">
    <div class="row p-3">
        <div class="jumbotron p-3 p-md-5 m-0 text-white w-100" id="gamedetail-image"
             style="background-size: cover;background-position: center;position: relative; border-radius: 25px;">
            <div class="overlay"></div>
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic" id="gamedetail-title">Voetbal met Groep 6 & 7</h1>
                <p class="lead my-3" id="gamedetail-type">Multiple lines of text that form the lede, informing new
                                                          readers quickly and
                                                          efficiently about what's most interesting in this post's
                                                          contents.</p>
                <p class="lead mb-0"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a data-controller="landing">Home</a></li>
                    <li class="breadcrumb-item"><a data-controller="games">Spellen</a></li>
                    <li aria-current="page" class="breadcrumb-item active" id="gamedetail-breadcrumb">Voetbal met Groep
                                                                                                      6 & 7
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-md-4 p-2">
            <div class="box">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <div class="ratings"><span class="product-rating">0.0</span><span>/5</span>

                            <div class="stars">
                                <i class="fa fa-star" data-value="1"></i>
                                <i class="fa fa-star" data-value="2"></i>
                                <i class="fa fa-star" data-value="3"></i>
                                <i class="fa fa-star" data-value="4"></i>
                                <i class="fa fa-star" data-value="5"></i>
                            </div>

                            <div class="rating-text"><span>0 ratings</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-8 p-2">
            <div class="box">
                <h2>Omschrijving</h2>
                <p id="gamedetail-desc">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget
                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes,
                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                    pretium
                    quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                    aliquet
                    nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                    vitae,
                    justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
                    dapibus.
                    Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                    ligula,
                    porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus
                    in,
                    viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                    laoreet.
                    Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                    ullamcorper ultricies nisi. Nam eget dui.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 p-2">
            <div class="box">
                <h2>Regels</h2>
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 p-2">
            <div class="box">
                <h2>Materialen</h2>
                <span class="badge badge-pill badge-secondary">Touw</span>
                <span class="badge badge-pill badge-secondary">Kar</span>
                <span class="badge badge-pill badge-secondary">Geld</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 p-2">
            <div class="box">
                <div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                    <a aria-controls="v-pills-home" aria-selected="true" class="nav-link active" data-toggle="pill"
                       href="#v-pills-home"
                       id="v-pills-home-tab" role="tab">Makkelijk</a>
                    <a aria-controls="v-pills-profile" aria-selected="false" class="nav-link" data-toggle="pill"
                       href="#v-pills-profile"
                       id="v-pills-profile-tab" role="tab">Gemiddeld</a>
                    <a aria-controls="v-pills-messages" aria-selected="false" class="nav-link" data-toggle="pill"
                       href="#v-pills-messages"
                       id="v-pills-messages-tab" role="tab">Moeilijk</a>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-9 p-2">
            <div class="box">
                <div class="tab-content" id="v-pills-tabContent">
                    <div aria-labelledby="v-pills-home-tab" class="tab-pane fade show active" id="v-pills-home"
                         role="tabpanel">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper ultricies tellus, auctor
                        sodales mi varius vel. Donec accumsan, sapien sit amet porta bibendum, erat sapien varius enim,
                        a laoreet lorem ligula in sem. Cras eget odio in massa tempus sagittis nec vitae lectus. Nunc
                        vitae augue semper, tempus enim et, fermentum nisl. Aenean semper massa leo, porta rutrum neque
                        aliquam ut. Duis porta faucibus sapien, vel feugiat libero accumsan eu. Phasellus a tortor
                        eleifend, malesuada diam ac, fermentum ligula.
                    </div>
                    <div aria-labelledby="v-pills-profile-tab" class="tab-pane fade" id="v-pills-profile"
                         role="tabpanel">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper ultricies tellus, auctor
                        sodales mi varius vel. Donec accumsan, sapien sit amet porta bibendum, erat sapien varius enim,
                        a laoreet lorem ligula in sem. Cras eget odio in massa tempus sagittis nec vitae lectus. Nunc
                        vitae augue semper, tempus enim et, fermentum nisl. Aenean semper massa leo, porta rutrum neque
                        aliquam ut. Duis porta faucibus sapien, vel feugiat libero accumsan eu. Phasellus a tortor
                        eleifend, malesuada diam ac, fermentum ligula.
                    </div>
                    <div aria-labelledby="v-pills-messages-tab" class="tab-pane fade" id="v-pills-messages"
                         role="tabpanel">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper ultricies tellus, auctor
                        sodales mi varius vel. Donec accumsan, sapien sit amet porta bibendum, erat sapien varius enim,
                        a laoreet lorem ligula in sem. Cras eget odio in massa tempus sagittis nec vitae lectus. Nunc
                        vitae augue semper, tempus enim et, fermentum nisl. Aenean semper massa leo, porta rutrum neque
                        aliquam ut. Duis porta faucibus sapien, vel feugiat libero accumsan eu. Phasellus a tortor
                        eleifend, malesuada diam ac, fermentum ligula.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row floorplan">
        <div class="col-xs-12 col-md-12 p-2">
            <img class="w-100" id="gamedetail-floorplan" src="./assets/img/voetbalplatte.jpg">
        </div>
    </div>
</div>
