<!-- Header box -->
<div class="p-3">
    <header class="masthead text-center text-white">
        <video autoplay id="gamesVideo" loop muted>
            <source src="./assets/img/banners/kinderen-yoga-video.mp4" type="video/mp4">
        </video>
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Spellen</h1>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
    </header>
</div>

<!-- Content box -->
<div class="container pt-3">
    <div class="row highlighted-game" style="padding: 15px;">
        <div class="jumbotron p-3 p-md-5 text-white w-100"
             style="background-image: url('././assets/img/stock-1.jpg');background-size: cover;background-position: center;position: relative; border-radius: 25px;">
            <div class="overlay"></div>
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Voetbal met Groep 6 & 7</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                                     efficiently about what's most interesting in this post's contents.</p>
                <p class="lead mb-0"><a class="text-white font-weight-bold" data-controller="gamedetail">Meer informatie <i
                        class="fas fa-arrow-right"></i></a></p>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 text-right">
            <a class="filter-button" data-target="#filterBox" data-toggle="modal"> Filter <i
                    class="fas fa-filter"></i>
            </a>
        </div>

        <div class="modal fade" id="filterBox" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Filteren</h4>
                    </div>
                    <div class="modal-body">
                        <span class="discover__section__title">Materiaal</span>
                        <ul class="discover__tags">
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="denken"
                                   href="#">Springtouw</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="oude mensen"
                                   href="#">Lintjes</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="leger"
                                   href="#">Pionnen</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="meer"
                                   href="#">Matjes</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="advocaat"
                                   href="#">Ballen</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="bedrijf"
                                   href="#">Korf</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="hoop"
                                   href="#">Basket</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="vraagteken"
                                   href="#">Fluit</a>
                            </li>
                        </ul>


                        <span class="discover__section__title">Leeftijd</span>
                        <ul class="discover__tags">
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="denken"
                                   href="#">Groep 1</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="denken"
                                   href="#">Groep 2</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="denken"
                                   href="#">Groep 3</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="denken"
                                   href="#">Groep 4</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="denken"
                                   href="#">Groep 5</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="denken"
                                   href="#">Groep 6</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="denken"
                                   href="#">Groep 7</a>
                            </li>
                            <li>
                                <a class="js-collection-section-tag" data-track-action="discover-page"
                                   data-track-label="collection-tags" data-track-value="denken"
                                   href="#">Groep 8</a>
                            </li>
                        </ul>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row games">
        <div class="masonry p-3">

        </div>
    </div>
</div>
