<!-- Header box -->
<div class="p-3">
    <header class="masthead text-center text-white">
        <video autoplay id="homeVideo" loop muted>
            <source src="./assets/img/banners/home-jungle-video.mp4" type="video/mp4">
        </video>
        <div class="masthead-content">
            <div class="container">
                <img src="./assets/img/logo-white.png">
                <h2 class="masthead-subheading mb-0" data-translate="homepage.headerSubText">Online Sportonderwijs</h2>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" id="goToProfile" data-target="#authenticationBox"
                <a class="btn btn-primary btn-xl rounded-pill mt-5" data-target="#authenticationBox" id="createAccount"
                   data-toggle="modal">Maak een account aan!</a>
            </div>
        </div>
        <div class="bg-circle-5 bg-red-circle"></div>
        <div class="bg-circle-6 bg-red-circle"></div>

        <div class="bg-circle-1 bg-green-circle"></div>
        <div class="bg-circle-2 bg-green-circle"></div>

        <div class="bg-circle-3 bg-yellow-circle"></div>
        <div class="bg-circle-4 bg-yellow-circle"></div>
    </header>
</div>

<!-- Content box -->
<div class="p-3">

    <!--<div class="d-flex slider-nav">-->
    <!--<a href="#" class="col active" data-slider="newest">Nieuwste spellen</a>-->
    <!--</div>-->

    <div class="slider-container">
        <h2 class="sliderHeading">Nieuwste spellen</h2>
        <div class="gamesSlider newGamesSlider"></div>
    </div>


    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters mb-5 mt-5">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                     style="background-image: url('./assets/img/children-playing.jpg')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Gemakkelijk Gymles</h2>
                    <p class="lead mb-0">
                        Bij Jungle Gym kun je als docent gemakkelijk gymles geven
                        aan basisschool leerlingen. Onze spellen zijn leuk, interactief en sluiten aan
                        bij elke
                        leeftijdscategorie.
                    </p>
                </div>
            </div>

            <div class="row no-gutters mb-5 mt-5">
                <div class="col-lg-6 text-white showcase-img"
                     style="background-image: url('./assets/img/jongens-met-voetbal.jpg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Ons Doel</h2>
                    <p class="lead mb-0">
                        We vinden het van groot belang dat elk kind voldoende sport.
                        Aangezien veel basisschool docenten niet gequalificeerd zijn, en genoeg
                        materiaal hebben om
                        goed gymles te geven, hebben wij deze website gemaakt om goed gymles te geven
                        toegankelijker te
                        maken voor allerlei docenten over de hele wereld!
                    </p>
                </div>
            </div>

            <div class="row no-gutters mb-5 mt-5">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                     style="background-image: url('./assets/img/playing-tag.png');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Spellen</h2>
                    <p class="lead mb-0">
                        De spellen op Jungle Gym zijn gecategoriseerd op leeftijd, materialen en
                        benodigdheden. Op deze punten kan gesorteerd worden met het filter icoontje op
                        de
                        spelpagina. Zo kun je makkeijk de geschikte spellen voor je klas kiezen.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="slider-container">
        <h2 class="sliderHeading">Best beoordeelde spellen</h2>
        <div class="gamesSlider bestGamesSlider"></div>
    </div>
</div>
