<!-- Sidebar box -->
<aside class="sidebar">
    <div class="toggle">
        <button class="burger menu-toggle" data-target="#main-navbar" data-toggle="collapse">
            <span></span>
        </button>
    </div>
    <div class="side-inner">
        <div class="logo-wrap">
            <a href="./index.html"><img src="./assets/img/logo.png"></a>
        </div>
        <div class="nav-menu">
            <ul>
                <li class="active">
                    <a class="text-center menu-item" data-controller="landing">
                        <span class="wrap-icon mr-3">
                            <span>Home</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="text-center menu-item" data-controller="games">
                        <span class="wrap-icon mr-3">
                            <span>Spellen</span>
                        </span>
                    </a>
                </li>
            </ul>

            <div id="google_translate_element"></div>
        </div>
    </div>
</aside>


<div class="authentication">
    <div class="user-symbol">
        <a data-target="#authenticationBox" data-toggle="modal"><i class="far fa-user"></i></a>
    </div>

    <div class="modal fade" id="authenticationBox" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a aria-controls="pills-login" aria-selected="true" class="nav-link active"
                               data-toggle="pill"
                               href="#pills-login" id="pills-home-tab" role="tab">Inloggen</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a aria-controls="pills-registreren" aria-selected="false" class="nav-link"
                               data-toggle="pill"
                               href="#pills-registreren" id="pills-profile-tab" role="tab">Registreren</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a aria-controls="pills-registreren" aria-selected="false" class="nav-link"
                               data-toggle="pill"
                               href="#pills-registreren" id="pills-profile-tab" role="tab">Profiel</a>
                        </li>
                    </ul>
                </div>

                <div class="modal-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div aria-labelledby="pills-login-tab" class="tab-pane fade show active" id="pills-login"
                             role="tabpanel">
                            <form class="auth-form-title login-form" action="javascript:void(0);">
                                <span class="auth-form-title">
                                    Gebruikers Login
                                </span>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" type="text" name="email" placeholder="Email">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </span>
                                </div>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" type="password" name="password" placeholder="Wachtwoord">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </span>
                                </div>

                                <div class="auth-button-container">
                                    <button class="auth-button">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>


                        <div aria-labelledby="pills-registreren-tab" class="tab-pane fade" id="pills-registreren"
                             role="tabpanel">
                            <form class="auth-form-title register-form" action="javascript:void(0);">
                                <span class="auth-form-title">
                                    Registratie
                                </span>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" type="text" name="firstname" placeholder="Voornaam">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i class="fas fa-signature"></i>
                                    </span>
                                </div>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" type="text" name="lastname" placeholder="Achternaam">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i class="fas fa-signature"></i>
                                    </span>
                                </div>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" type="text" name="user-email" placeholder="Email">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </span>
                                </div>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" type="password" name="user-password" placeholder="Wachtwoord">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </span>
                                </div>

                                <div class="auth-input-wrap">
                                    <input class="auth-input" type="password" name="user-passwordrepeat"
                                           placeholder="Herhaal wachtwoord">
                                    <span class="auth-input-focus"></span>
                                    <span class="auth-input-symbol">
                                        <i class="fas fa-redo"></i>
                                    </span>
                                </div>

                                <div class="auth-button-container">
                                    <button class="auth-button">
                                        Registreren
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button"><i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
