<!-- Sidebar box -->
<aside class="sidebar">
    <div class="toggle">
        <button class="burger menu-toggle" data-target="#main-navbar" data-toggle="collapse">
            <span></span>
        </button>
    </div>
    <div class="side-inner">
        <div class="logo-wrap">
            <a href="./index.html"><img src="./assets/img/logo.png"></a>
        </div>
        <div class="nav-menu">
            <ul>
                <li class="active">
                    <a class="text-center menu-item" data-controller="landing">
                        <span class="wrap-icon mr-3">
                            <span>Home</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="text-center menu-item" data-controller="games">
                        <span class="wrap-icon mr-3">
                            <span>Spellen</span>
                        </span>
                    </a>
                </li>
            </ul>

            <div id="google_translate_element"></div>
        </div>
    </div>
</aside>

